body{background-color: #001d00;}

    

 a:link { color: red; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: blue; text-decoration: none;}



#in p{
    color: white
}
#in h1{
    color: white;
}   



#nav_menu ul {
    list-style-type:none;
    padding-left:0px;
    float:left;
    }
    
#nav_menu ul li {
    background-color: none;
    font-size: 50px;
    color: white;
    display:inline;
    border-left: 1px solid white;
    padding: 0px 20px 0px 30px;
    margin: 5px 0px 5px 0px;
    }
    
#nav_menu ul li:first-child {
    border-left: none;
    }


p{color: white;}

#title h1{
    font-size: 40px;
    color: white; 
    white-space : nowrap;
    text-align: center;
    position: relative;
    top: 200px;
}

#img img{position: relative; 
    left:5%; top: 200px;}


#de p{
    font-size: 16px;
color: white; 
position: fixed; 
left:65%; 
top: 300px; 
white-space : nowrap;
}



