body{background-color: #ccdacd;}

    

 a:link { color: white; text-decoration: none;}
 a:visited { color: white; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}

.ppotab > a:hover { color: skyblue; text-decoration: none;}



#in p{
    color: white
}
#in h1{
    color: white;
}   



#nav_menu ul {
    list-style-type:none;
    padding-left:0px;
    float:left;
    z-index: 3;
    }
    
#nav_menu ul li {
        background-color: none;
        font-family: 'Jua', sans-serif;
        font-size: 3vmax;
        font-weight: bold;
        color: #091928;
        display:inline;
        border-left: 1px solid white;
        padding: 0px 20px 0px 20px;
        margin: 5px 0px 5px 0px;
        z-index: 3;
        
        }
    
#nav_menu ul li:first-child {
    border-left: none;
    z-index: 3;
    }


p{color: white;}


.ppotab > img{
    text-align: left;
    position: relative;
    left: 50px;

    z-index: 1;
    margin-top: 25vmin;
}

.ppotab > h1
{
    white-space : nowrap;
    color: white;
    position: relative;
    font-size: 5vw;
    font-family: 'Jua', sans-serif;
    z-index: 1;  
    margin-top: 25vmin; 
}

.ppotab > p
{
    white-space : nowrap;
    color: white;
    position: relative;
    font-family: 'Jua', sans-serif;
    font-size: 3vw;
    z-index: 1;
    -webkit-text-stroke: 1px #091928;
    
}

.ppotab > a
{
    color: white;
    font-family: 'Jua', sans-serif;
    position: relative;
    font-size: 3vw;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
    
}

.ppotab > video
{

    text-align: left;
    position: relative;
    left: 50px;
    margin-top: 25vmin;
    z-index: 2;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

